[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==1.12.0"
torchvision = "==0.13.0"
torch-xla = {file = "https://storage.googleapis.com/tpu-pytorch/wheels/tpuvm/torch_xla-1.12-cp38-cp38-linux_x86_64.whl", extras = ["tpuvm"]}
jax = {extras = ["tpu"]}
numpy = "<1.23"     # https://github.com/google/jax/issues/11221
matplotlib = "*"
optax = "*"
scikit-learn = "*"
flax = "*"
tensorflow-cpu = "*"

[dev-packages]
jupyterlab = "*"
ipywidgets = "*"

[requires]
python_version = "3.8"
